<h1>Street &rarr; Coords Results</h1>

<dl>
  <dt>Street Address</dt>
  <dd>Restaurants near <%= @street_address %></dd>

  <!-- <dt>Latitude</dt>
  <dd><%#= @latitude %></dd>

  <dt>Longitude</dt>
  <dd><%#= @longitude %></dd> -->

  <dt>Name</dt>
  <dd><%= @name %></dd>

  <dt>Place ID</dt>
  <dd><%= @place_id %></dd>

  <dt>Address</dt>
  <dd><%= @address %></dd>

</dl>
